<?xml version="1.0"?>
<!--For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<clear/>
		<add name="SPVConecctionString" connectionString="Data Source=(local); Initial Catalog=BD_SPV; user=sa; password=riveras" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<httpRuntime executionTimeout="60000" maxRequestLength="1024000" useFullyQualifiedRedirectUrl="true"/>
		<globalization culture="es-PE"/>
		<customErrors mode="RemoteOnly" defaultRedirect="SPV_ErrorPage.aspx"/>
		<authentication mode="Forms">
			<forms loginUrl="Logueo.aspx" defaultUrl="Inicio/Default.aspx" name=".SPVNETAUTHX" timeout="30" slidingExpiration="true"></forms>
		</authentication>
		<authorization>
      <allow users="*"/>
      <deny users="?"/>
    </authorization>
		<sessionState mode="InProc" cookieless="false" timeout="30"></sessionState>
		<membership defaultProvider="MembershipProvider" userIsOnlineTimeWindow="30">
			<providers>
				<clear/>
				<add name="MembershipProvider" type="System.Web.Security.SqlMembershipProvider" applicationName="SPVNET" connectionStringName="SPVConecctionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="2"/>
			</providers>
		</membership>
		<roleManager enabled="false"/>
		<profile enabled="true" automaticSaveEnabled="true" defaultProvider="ProfileProvider">
			<properties>
				<add name="Usuario" type="SPV.BE.UsuarioBE"/>
				<add name="id_usuario" type="System.Int32"/>
				<add name="Estacion" type="System.String"/>
				<add name="UsuarioRed" type="System.String"/>
				<add name="Aplicacion" type="System.String"/>
				<add name="ipMaquina" type="System.String"/>
				<add name="UserName" type="System.String"/>
				<add name="PageSize" type="System.Int32"/>
				<add name="PageSizeMant" type="System.Int32"/>
				<add name="PageSizePopUp" type="System.Int32"/>
				<add name="PageSizeFiles" type="System.Int32"/>
				<add name="PageSizeDoubleGrid" type="System.Int32"/>
				<add name="id_rol" type="System.Int32"/>
				<add name="id_area" type="System.Int32"/>
				<add name="id_empresa" type="System.Int32"/>
				<add name="no_empresa" type="System.String"/>
				<add name="fl_usuario" type="System.String"/>
			</properties>
			<providers>
				<clear/>
				<add name="ProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SPVConecctionString"/>
			</providers>
		</profile>
		<healthMonitoring enabled="true">
			<eventMappings>
				<clear/>
				<!-- Log ALL error events -->
				<add name="All Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647"/>
				<!-- Log Personal Errors -->
				<add name="TranError" type="SPV.WebEvents.TransactionFailureEvent, SPV.WebEvents" startEventCode="0" endEventCode="2147483647"/>
				<add name="WebError" type="SPV.WebEvents.WebFailureEvent, SPV.WebEvents" startEventCode="0" endEventCode="2147483647"/>
				<!-- Log authentication failure events -->
				<add name="Auth Failure Audits" type="System.Web.Management.WebAuthenticationFailureAuditEvent" startEventCode="0" endEventCode="2147483647"/>
			</eventMappings>
			<providers>
				<clear/>
				<!-- Provide any customized SqlWebEventProvider information here (such as a different connection string name value -->
				<add name="SqlWebEventProvider" connectionStringName="SPVConecctionString" type="System.Web.Management.SqlWebEventProvider" maxEventDetailsLength="1073741823" buffer="false"/>
				<add name="EventLogProvider" type="System.Web.Management.EventLogWebEventProvider"/>
				<!--add name="EmailWebEventProvider" type="System.Web.Management.SimpleMailWebEventProvider"
              from="sistemas.eddy@multisistemas.com.pe" to="sistemas.eddy@multisistemas.com.pe"               
              bodyHeader="Incidencia en Neptunia.DEMO" 
              bodyFooter="Sucedio un error no controlado en Neptunia.DEMO." buffer="false"/-->
			</providers>
			<rules>
				<clear/>
				<!-- The minInterval setting indicates the minimum time that must elapse between events of the same
                type firing before the next event is logged... For unhandled exceptions and security audit failures,
                we want to capture all of this information, so set minInterval to "00:00:00". -->
				<add name="All Errors SQL" eventName="All Errors" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
				<add name="All Errors LogEvent" eventName="All Errors" provider="EventLogProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
				<!-- Manejo de Errores para Excepciones personalizadas.-->
				<add name="General Error Web" eventName="WebError" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
				<add name="General Error LogEvent" eventName="WebError" provider="EventLogProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
				<add name="General Error Tran" eventName="TranError" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
				<add name="General Error LogEvent Tran" eventName="TranError" provider="EventLogProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
				<!-- Send Failure Audits both to the SQL Log and via email >
				<add name="Auth Failure Audits SQL" eventName="Auth Failure Audits" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/-->
				<!--add name="Auth Failure Audits Email" eventName="Auth Failure Audits" provider="EmailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/-->
			</rules>
		</healthMonitoring>
		<pages theme="Default" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
	</system.web>
	<location path="Logueo.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Images">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Library">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="App_Themes">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location> 
</configuration>
