Body
{
	SCROLLBAR-FACE-COLOR: #eaeffd;
	SCROLLBAR-HIGHLIGHT-COLOR: #3b83cb;
	SCROLLBAR-SHADOW-COLOR: #3b83cb;
	SCROLLBAR-3DLIGHT-COLOR: white;
	SCROLLBAR-ARROW-COLOR: #3b83cb;
	SCROLLBAR-TRACK-COLOR: #eaeffd;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}

.textarea
{
	width:350px;
	height:35px;	
}
.cbusqueda
{
	FONT-SIZE: 11px;    
	COLOR: #555b6c;
	FONT-FAMILY: "Arial";
	BACKGROUND-COLOR: #dbdee7;
	font-weight:bold;
 }
 
.textorojo
{
	FONT-SIZE: 11px;    
	COLOR: red;
	FONT-FAMILY: "Arial";
	FONT-WEIGHT: bold;

}
.textonegrita
{
	FONT-SIZE: 11px;    
	COLOR: #666666;
	FONT-FAMILY: "Arial";
	FONT-WEIGHT: bold;

}
.textofila td /*pdi*/
{
	FONT-SIZE: 11px;    
	COLOR: #666666;
	FONT-FAMILY: "Arial";
	FONT-WEIGHT: bold;
	border-right: #ffffff 1px solid;
	border-left: #ffffff 1px solid;
	border-BOTTOM: #005cab 1px solid;

}
.estado
{
    FONT-SIZE: 11px;    
    COLOR: #555a6d;
    FONT-FAMILY: "Arial";
	BACKGROUND-COLOR: #eaeef7;
	border-bottom:#005cab 1px solid;
	border-top:#005cab 1px solid;
	border-right:#005cab 1px solid;
	border-left:#005cab 1px solid;
}
.lineatitulo
{
	border-bottom: #c7d7ee 2px solid;
	width: 100%;
}
.lineadatos
{
	border-bottom: #d4dfff 2px solid;
	width: 100%;
}
.titulotab
{
    FONT-SIZE: 12px;    
    COLOR: #254882;
    FONT-FAMILY: "Arial";
	FONT-WEIGHT: bold;
}
.textotab
{
    FONT-SIZE: 11px;    
    COLOR: #555a6d;
    FONT-FAMILY: "Arial";
}

.lineatab
{
	border-bottom: #c5d5f0 3px solid;
}
.cuerpotab
{
    BACKGROUND-COLOR: #eaeef7;
	border-bottom:#c5d5f0 3px solid;
	FONT-SIZE: 11px;
    COLOR: #555a6d;
    FONT-FAMILY: "Arial";
    
}
.cuerponuevo
{
    BACKGROUND-COLOR: #F4F7FB;
	border-bottom:#c5d5f0 3px solid;
	FONT-SIZE: 11px;
    COLOR: #555a6d;
    FONT-FAMILY: "Arial";
    border-left:#c5d5f0 1px solid;
    border-right:#c5d5f0 1px solid;
    border-top:#c5d5f0 1px solid;
}
.leyendas
{
	font-size: 11px;
	font-family: Arial;
	background-color: #eceff4;
	color:#555b6c;
}
 hr
{   
	border-style: solid;
	border-color: #d2e0fd;
	border-width: 1px;
	height: 1px;
}
.texto
{
    FONT-SIZE: 11px;    
    COLOR: #555a6d;
    FONT-FAMILY: "Arial";
    BACKGROUND-COLOR: #ffffff;
    font-weight:bold;
}

.textoImp
{
    FONT-SIZE: 9px;    
    COLOR: #555a6d;
    FONT-FAMILY: "Arial";
    BACKGROUND-COLOR: #eaeef7;
}
.cajatextoImp
{
    color: #555a6d;
    font-family: "Arial";
    background-color: #eaeef7;
    border-bottom:#555a6d 1px solid;
	border-top:#555a6d 1px solid;
	border-right:#555a6d 1px solid;
	border-left:#555a6d 1px solid;
	font-size: xx-small
	
}

.Paginacion
{
    FONT-SIZE: 11px;    
    COLOR: #555a6d;
    FONT-FAMILY: "Arial";
    BACKGROUND-COLOR: #ffffff;
}

.Paginacion span
{
	display: inline;
	float: left;
}

.Paginacion table
{
    display: inline;
    vertical-align:bottom;
    float: right;
}

.Paginacion table td
{
	padding-left: 3px
}

.Footer
{
	height:0px;	
	font-size:0px;
	border:0px;
	padding:0px;
	font-weight:bold;
	/*border: 2px #005cab solid;*/
}

.Footer td
{
	/*padding:0px;*/
	/*background-color:#005cab;*/
	padding:0px;
	/*border:0px;*/
	border-right:1px solid #ffffff;
	border-left:2px solid #ffffff;
	border-top:2px solid #005cab;
	border-bottom:0px solid #ffffff;	
	/*border-bottom:0px;
	border-top:0px;
	border: 2px #005cab solid;*/
}

.CabeceraGrilla /*textoblanco*/
{
    FONT-SIZE: 11px;    
    COLOR: white;
    FONT-FAMILY: "Arial";
	text-decoration: underline;
	BACKGROUND-COLOR: #005cab;
	text-align: center;
	FONT-WEIGHT: bold;
	border:1px solid #ffffff;
	height: 30px;
	font-weight:bold;
}

.CabeceraGrilla th /*textoblanco*/
{
    FONT-SIZE: 11px;    
    COLOR: white;
    FONT-FAMILY: "Arial";
	text-decoration: underline;
	BACKGROUND-COLOR: #005cab;
	text-align: center;
	FONT-WEIGHT: bold;
	border:1px solid #ffffff;
	height: 30px;
	font-weight:bold;
}

.CabeceraGrillaImp /*textoblanco*/
{
    FONT-SIZE: 9px;    
    COLOR: white;
    FONT-FAMILY: "Arial";
	text-decoration: underline;
	BACKGROUND-COLOR: #005cab;
	text-align: center;
	FONT-WEIGHT: bold;
	height: 30px
}
.CabeceraGrillaFT /*textoblanco*/
{
    FONT-SIZE: 11px;    
    COLOR: white;
    FONT-FAMILY: "Arial";
	text-decoration: underline;
	BACKGROUND-COLOR: #005cab;
	text-align: left;
	FONT-WEIGHT: bold;
	height: 30px
}
.textogrilla td
{
	border-right: #ffffff 1px solid;
	border-left: #ffffff 1px solid;
	border-BOTTOM: #005cab 1px solid;
	FONT-SIZE: 10px;    
    COLOR: #555a6d;
    border-spacing:3px;	
    FONT-FAMILY: Arial;
    FONT-WEIGHT: bold;
}
.textogrilladin /*tabla dinamica*/
{
	border-right: #ffffff 1px solid;
	border-left: #ffffff 1px solid;
	border-BOTTOM: #005cab 1px solid;
	FONT-SIZE: 10px;    
    COLOR: #555a6d;
    border-spacing:3px;	
    FONT-FAMILY: Arial;
}
.textogrillaImp1 td
{
	border-BOTTOM: #005cab 1px solid;
	FONT-SIZE: 9px;    
    COLOR: #555a6d;
    FONT-FAMILY: Arial;
}
.textogrillaImp2 td
{
	border-BOTTOM: #005cab 1px solid;
	FONT-SIZE: 9px;    
    COLOR: #555a6d;
    FONT-FAMILY: Arial;
    text-transform: lowercase;
}

.TextoCaja
{
	border-right: #95a6c6 1px solid;
	border-top: #95a6c6 1px solid;
	font-size: 10px;
	border-left: #95a6c6 1px solid;
	border-bottom: #95a6c6 1px solid;
	font-family: Verdana;
}

/*Clases para los indicadores*/
.cajaroja
{
	background-color:#ff0606;
	font-family: Arial;
	/*color: White;*/
	text-align:center;
	font-size: 10px;
	width:30px;
	border-left: solid 1px #999999;
	border-right: solid 1px #999999;
	border-top: solid 1px #999999;
	border-bottom: solid 1px #999999;
}
.cajaamarilla
{
	background-color:#ffd83c;
	font-family: Arial;
	/*color: black;*/
	text-align:center;
	font-size: 10px;
	width:30px;
	border-left: solid 1px #999999;
	border-right: solid 1px #999999;
	border-top: solid 1px #999999;
	border-bottom: solid 1px #999999;
		
}
.cajaverde
{
	background-color:#00a600;
	font-family: Arial;
	/*color: White;*/
	text-align:center;
	font-size: 10px;
	width:30px;
	border-left: solid 1px #999999;
	border-right: solid 1px #999999;
	border-top: solid 1px #999999;
	border-bottom: solid 1px #999999;
}
/*Fin de clases para los indicadores*/

/*fila de texto rojo*/
.filaroja
{
    FONT-SIZE: 10px;
    COLOR: #cc0000;
    FONT-FAMILY: Arial;
}
/*fin de fila texto rojo*/

/*Estilos para los user control*/
.cbodes
{
	border: Groove 1px #d2d2d4;
	font-size: 11px;
	font-family: Arial;
	background-color: #f0f1f1;
	color:#555b6c;
	font-weight: bold;
}

.cboob
{
	border: Solid 1px #95a6c6;
	font-size: 11px;
	font-family: Arial;
	background-color: #DADFE9;
	color:#555b6c;
	font-weight: bold;
}

.txtdes
{
	border-style:groove;
	border-width:1px;
	border-color:#d2d2d4;
	font-size: 11px;
	font-family: Arial;
	background-color: #f0f1f1;
	color:#555b6c;
}

.txtob
{
	border: Solid 1px #95a6c6;
	font-size: 11px;
	font-family: Arial;
	background-color: #dfe4ec;/*eceff4*/
	color:#555b6c;
}

.cboTextDim
{
	font-family:Arial;
	font-style:italic;
	color:Blue;
	background-color:white;
}

/*Popup Modal*/
.modalPopup
{
	border-width: 2px;
	border-style: solid;
	border-color: Gray;
	z-index:10000;
	font-weight: bold;
}
.modalBackground
{
	background-color: #C1BEC0;
	filter: alpha(opacity=70); 
	opacity: 0.7;
}
/*Fin Estilos para los user control*/


/*Para cajar de texto que son user control y no se pueden cambiar de SkinID*/
.txtob
{
	border: 1px solid #95a6c6;
	font-size:10px;
	font-family: Verdana;
	background-color:#dfe4ec;
	color:#555b6c;
}

/* Estilos para el PDA */

.boton

{
BORDER-RIGHT: #6F93C8 2px solid;
BORDER-TOP: #6F93C8 2px solid;
BORDER-BOTTOM: #6F93C8 2px solid;
BORDER-LEFT: #6F93C8 2px solid;
FONT-SIZE: 11px;
COLOR: #3B83CB;
CURSOR:hand;
text-transform:uppercase;
FONT-FAMILY: Verdana;
BACKGROUND-COLOR: #F4F7FB;
FONT-WEIGHT: bold;
}

.cuerponuevoPDA
{
BACKGROUND-COLOR: #F4F7FB;
border-bottom:#c5d5f0 3px solid;
FONT-SIZE: 12px;
COLOR: #555a6d;
FONT-FAMILY: "Verdana";
border-left:#c5d5f0 1px solid;
border-right:#c5d5f0 1px solid;
border-top:#c5d5f0 1px solid;
}
.tabla
{
border: #005cab 1px solid;
FONT-SIZE: 12px; 
COLOR: #555a6d;
FONT-FAMILY: Verdana;
text-align: center;
/*margin-left: 3px;
margin-right: 3px;
margin-top: 3px;*/
}

.tabla td

{
border-right: #005cab 1px solid;
border-left: #005cab 1px solid;
border-bottom: #005cab 1px solid;
border-top: #005cab 1px solid;
FONT-SIZE: 12px; 
COLOR: #555a6d;
FONT-FAMILY: Verdana;
text-align: center;
}

A.Enlace:active

{
FONT-SIZE: 12px;
COLOR: #3b83cb;
FONT-FAMILY: Verdana;
FONT-WEIGHT: bold;
TEXT-DECORATION: none
}

A.Enlace:visited

{
FONT-SIZE: 12px;
COLOR:#636563;
FONT-FAMILY: Verdana;
TEXT-DECORATION: none
}

A.Enlace:link

{
FONT-SIZE: 12px;
COLOR: #636563;
FONT-FAMILY: Verdana;
TEXT-DECORATION: none
}

A.Enlace:hover
{
FONT-SIZE: 12px;
COLOR: #3b83cb;
FONT-FAMILY: Verdana
}



.filavigente 
{
	FONT-SIZE: 10px; 
    COLOR: #005CAB;
    font-weight:bold;
    border-spacing:3px;	
    FONT-FAMILY: Arial;
    /*text-decoration: underline;*/
}

/*----------------------------------------------*/

.TablaDinamica
{ 
	width: 610px;
	/*background-color: #fafafa;*/
	border: 1px #005cab solid;
	border-collapse: collapse;
	border-spacing: 0px;
	font-family: Arial;
	font-weight: normal;
	font-size: 11px; 
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 0px;
}
TablaDinamica td
{ 
	border-bottom: 1px #005cab solid;
	text-align: left;
	font-family: Arial;
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	background-color: #fafafa;
	
}
/*TablaDinamica td
{ 

	text-align: left;
	font-family: Arial;
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	background-color: #fafafa;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 0px; 
}
*/

.CabeceraGrillaPDI /*textoblanco*/
{
    FONT-SIZE: 11px;    
    COLOR: white;
    FONT-FAMILY: "Arial";
	text-decoration: underline;
	BACKGROUND-COLOR: #005cab;
	text-align: center;
	FONT-WEIGHT: bold;
	border:1px solid #ffffff;
	height: 20px;
}

.CabeceraGrillaPDI th /*textoblanco*/
{
    FONT-SIZE: 11px;    
    COLOR: white;
    FONT-FAMILY: "Arial";
	text-decoration: underline;
	BACKGROUND-COLOR: #005cab;
	text-align: center;
	FONT-WEIGHT: bold;
	border:1px solid #ffffff;
	height: 20px;
}

.divSeguimiento
{
	border: 0px;
	font-size:10px;
	font-family:Verdana;
	color:#555b6c;
	background-color:Transparent;
	font-weight:normal;
}

/* @I - 27/10/2011 */
.txtEstadoLinea
{
	font-size: 12px;
	font-family: Arial;
	color:#000099;
	font-weight:bolder;	
}
/* @F - 27/10/2011 */