.divCabeceraMenu
{
	background-color:#365291; 
	border-left:solid 1px #8db6d8; 
	border-right:solid 1px #8db6d8;
	font-family: Arial;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	text-align:center;
	vertical-align: middle;
}

.divOpcionMenuOff
{
	background-color:#365291; 
	border-left:solid 1px #8db6d8; 
	border-right:solid 1px #8db6d8;
	font-family: Arial;
	font-size: 12px;
	color: #ffffff;
	text-decoration: underline;
	text-align:center;
	vertical-align: middle;
}

/*Clases del Menu Horizontal*/
/*Nivel 1**/
.clsMenuNivel1Hor
{
	font-weight:bold;
	font-family:Arial;
	font-size:12px;
	text-align:left;
	text-decoration: underline;
	color:#bfddf6;
	background-color:#365291;
	border:solid 0px #8db6d8;
	border-collapse:collapse;
	cursor:pointer;
	padding:0px;
	margin-left:0px;
	cursor: pointer;
}
.clsMenuNivel1Hor :Hover
{
	font-weight:bold;
	font-family:Arial;
	font-size:12px;
	text-align:left;
	text-decoration: underline;
	color:#ffffff;
	background-color:#4762bf;
	border:solid 0px #8db6d8;
	border-collapse:collapse;
	cursor:pointer;
	padding:0px;
	margin-left:0px;
	cursor: pointer;
}
.clsMenuNivel1Hor :Hover A 
{
	font-weight:bold;
	font-family:Arial;
	font-size:12px;
	text-align:left;
	text-decoration: underline;
	color:#ffffff;
	background-color:#4762bf;
	border: solid 0px #8db6d8;
	cursor: pointer;
}

/*Nivel 2*/
.clsMenuNivel2Hor
{
	font-family: Century gothic;
	font-size:10px;
	text-align:left;
	color:#ffffff;
	height:23px;
	width:180px;
	background-color:#173e7f;	
	cursor:pointer;
	margin-left:0px;
	cursor: pointer;
	text-transform:uppercase;
	border-bottom: solid 1px #b0c6eb;
	
}
.clsMenuNivel2Hor :Hover
{
	font-family: Century gothic;
	font-size:10px;
	text-align:left;
	color:#173e7f;
	height:23px;
	width:180px;
	background-color:#B0C6EA; /*4762bf*/
	cursor:pointer;
	text-transform:uppercase;
	border-bottom: solid 1px #173e7f;
	font-weight:bold;
	
}
.clsMenuNivel2Hor :Hover A 
{
	font-family: Century gothic;
	font-size:10px;
	text-align:left;
	color:#173e7f;
	height:23px;
	width:180px;
	background-color:#B0C6EA;/*4762bf*/
	cursor: pointer;
	text-transform:uppercase;
	border-bottom: solid 1px #173e7f;
	font-weight:bold;
	
}

/*Nivel 3*/
.clsMenuNivel3Hor
{
	font-family: Century gothic;
	font-size:10px;
	text-align:left;
	color:#ffffff;
	height:23px;
	width:180px;
	background-color:#173e7f;	
	cursor:pointer;
	text-transform:uppercase;
	border-bottom: solid 1px #b0c6eb;
	
	
}
.clsMenuNivel3Hor :Hover
{
	font-family: Century gothic;
	font-size:10px;
	text-align:left;
	color:#173e7f;
	height:23px;
	width:180px;
	background-color:#B0C6EA; /*4762bf*/
	cursor:pointer;
	/*padding:2px;*/
	text-transform:uppercase;
	border-bottom: solid 1px #173e7f;
	font-weight:bold;
	
}
.clsMenuNivel3Hor :Hover A 
{
	font-family: Century gothic;
	font-size:10px;
	text-align:left;
	color:#173e7f;
	height:23px;
	width:180px;
	background-color:#B0C6EA;/*4762bf*/
	cursor: pointer;
	/*padding:2px;*/
	text-transform:uppercase;
	border-bottom: solid 1px #173e7f;
	font-weight:bold;
	
}

/*Clases del Menu Vertical*/
/*Nivel 1**/
.clsMenuNivel1Ver
{
	/*font-weight:bold;*/
	font-family:Arial;
	font-size:11px;
	text-align:left;
	/*text-decoration: underline;*/
	color:#bfddf6;
	height:25px;
	width:100%;
	background-color:#365291;
	border:solid 0px #8db6d8;
	/*border-collapse:collapse;*/
	cursor:pointer;
	vertical-align: middle;
}
.clsMenuNivel1Ver A 
{
	/*font-weight:bold;*/
	font-family:Arial;
	font-size:11px;
	text-align:left;
	text-decoration: none;
	color:#bfddf6;
	background-color:#365291;
	border: solid 0px #8db6d8;
	vertical-align: middle;
	padding-left:7px;
}

.clsMenuNivel1VerHover
{
	font-weight:bold;
	font-family:Arial;
	font-size:11px;
	text-align:left;
	text-decoration: none;
	color:#ffffff;
	height:25px;
	width:100%;
	background-color:#4762bf;
	border:solid 0px #8db6d8;
	/*border-collapse:collapse;*/
	cursor:pointer;
	vertical-align: middle;
}
.clsMenuNivel1VerHover A 
{
	font-weight:bold;
	font-family:Arial;
	font-size:11px;
	text-align:left;
	text-decoration: none;
	color:#ffffff;
	background-color:#4762bf;
	border: solid 0px #8db6d8;
	vertical-align: middle;
	padding-left:7px;
}

.clsMenuNivel1Ver A SPAN
{
	text-decoration: underline;
}

.clsMenuNivel1VerHover A SPAN
{
	text-decoration: underline;
}

/*Nivel 2*/
.clsMenuNivel2Ver
{
	/*font-weight:bold;*/
	font-family:Arial;
	font-size:10px;
	text-align:left;
	text-decoration: none;
	color:#bfddf6;
	height:25px;
	width:100%;
	background-color:#365291;
	border:solid 0px #8db6d8;
	/*border-collapse:collapse;*/
	cursor:pointer;
	vertical-align: middle;
}
.clsMenuNivel2Ver A 
{
	/*font-weight:bold;*/
	font-family:Arial;
	font-size:10px;
	text-align:left;
	text-decoration: none;
	color:#bfddf6;
	background-color:#365291;
	border: solid 0px #8db6d8;
	vertical-align: middle;
	padding-left:14px;
}
.clsMenuNivel2VerHover
{
	font-weight:bold;
	font-family:Arial;
	font-size:10px;
	text-align:left;
	text-decoration: none;
	color:#ffffff;
	height:25px;
	width:100%;
	background-color:#4762bf;
	border:solid 0px #8db6d8;
	/*border-collapse:collapse;*/
	cursor:pointer;
	vertical-align: middle;
}
.clsMenuNivel2VerHover A 
{
	font-weight:bold;
	font-family:Arial;
	font-size:10px;
	text-align:left;
	text-decoration: none;
	color:#ffffff;
	background-color:#4762bf;
	border: solid 0px #8db6d8;
	vertical-align: middle;
	padding-left:14px;
}

.clsMenuNivel2Ver A SPAN
{
	text-decoration: underline;
}

.clsMenuNivel2VerHover A SPAN
{
	text-decoration: underline;
}

/*Nivel 3*/
.clsMenuNivel3Ver
{
	/*font-weight:bold;*/
	font-family:Arial;
	font-size:11px;
	text-align:left;
	text-decoration: none;
	color:#bfddf6;
	height:25px;
	width:100%;
	background-color:#365291;
	border:solid 0px #8db6d8;
	/*border-collapse:collapse;*/
	cursor:pointer;
	vertical-align: middle;
}
.clsMenuNivel3Ver A 
{
	/*font-weight:bold;*/
	font-family:Arial;
	font-size:11px;
	text-align:left;
	text-decoration: none;
	color:#bfddf6;
	background-color:#365291;
	border: solid 0px #8db6d8;
	vertical-align: middle;
	padding-left:21px;
}
.clsMenuNivel3VerHover
{
	font-weight:bold;
	font-family:Arial;
	font-size:11px;
	text-align:left;
	text-decoration: none;
	color:#ffffff;
	height:25px;
	width:100%;
	background-color:#4762bf;
	border:solid 0px #8db6d8;
	/*border-collapse:collapse;*/
	cursor:pointer;
	vertical-align: middle;
}
.clsMenuNivel3VerHover A 
{
	font-weight:bold;
	font-family:Arial;
	font-size:11px;
	text-align:left;
	text-decoration: none;
	color:#ffffff;
	background-color:#4762bf;
	border: solid 0px #8db6d8;
	vertical-align: middle;
	padding-left:21px;
}

.clsMenuNivel3Ver A SPAN
{
	text-decoration: underline;
}

.clsMenuNivel3VerHover A SPAN
{
	text-decoration: underline;
}