@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SISTEMA DE GESTIÓN DE SUPERMERCADOS – PLAZA VEA
    </h1>
</div>

<div class="row">
    <div class="col-lg-push-4">
        <h2>Módulo de Gestión de Recursos Humanos</h2>
        <p>
            El presente proyecto corresponde al análisis e investigación al detalle de los procesos relacionados a 
            la Gestión de Recursos Humanos, para la posterior generación de una herramienta automatizada que permita 
            al supermercado Plaza Vea gestionar las actividades de manera eficiente y oportuna.
            Como parte de un proyecto integral para la gestión en el supermercado Plaza Vea, este módulo cumple un papel 
            importante ya que en base a esto administra las solicitudes, contratos y administración de planillas del personal 
            que labora en Plaza Vea.
            Este módulo se desarrolló siguiendo las pautas establecidas por la metodología RUP, así como los estándares UML. 
            En el presente trabajo se incluye las Especificaciones de las Reglas de Negocio, Modelado de los Casos de Uso del 
            Negocio, Modelado de Análisis del Negocio y las Realizaciones de Casos de Uso del negocio. Por otro lado, 
            en la parte de Gestión del Proyecto, se contempla el Cronograma de Ejecución del Proyecto terminado y 
            Trazabilidad de los artefactos modelados.
            Finalmente, se indicará la conclusión de este trabajo, así como la bibliografía y anexo correspondiente
        </p>
    </div>
</div>